body {
    color: aquamarine;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}


h1 {
    font-size: 112px;
    text-align: center;
    margin-top: 13%;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
}

#weather-container {
    position: absolute;
    text-align: center;
    left: 92%;
    top: 0%;
}

#quote {
    text-align: center;
}

#todo {
    text-align: center;
    font-size: 1cm;
    color: bisque;
    font-weight: bold;
}


input::placeholder {
    color: white;
    font-size: 2.0em;
    text-decoration: underline;
    text-align: center;


}